@using Modelo.Entidades

@model Decimo_Tercero
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar de Decimo</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Eliminar Decimo
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form asp-action="Delete" method="post">
                <input type="text" asp-for="Decimo_TerceroId" hidden />

                <div class="form-group">
                    <label class="custom-control-label">Fecha Inicio: </label>
                    <input class="form-control" type="date" asp-for="fecha_inicio" disabled />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Fecha Final: </label>
                    <input class="form-control" type="date" asp-for="fecha_final" disabled />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Meses: </label>
                    <input class="form-control" type="text" asp-for="meses" disabled />
                </div>
                 <div class="form-group">
                    <label class="custom-control-label">Total: </label>
                    <input class="form-control" maxlength="10" type="text" asp-for="total" />
                </div>
               
                <div class="form-group">
                    <label class="custom-control-label">Empleado: </label>
                    <select class="form-control"
                            asp-for="PersonalId" asp-items="@ViewBag.selectListEmpleados" disabled>
                        <option value="">--Seleccione un empleado---</option>
                    </select>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Eliminar Decimo" />
                </div>
            </form>
        </div>
    </div>

</div>