@using Modelo.Entidades

@model Liquidaciones
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edicion de Liquidaciones</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Editar Liquidacion
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form asp-action="Edit" method="post">
                <input type="text" asp-for="LiquidacionesId" hidden />

                <div class="form-group">
                    <label class="custom-control-label"> Periodo Cesantia: </label>
                    <input class="form-control" type="text" asp-for="cesantia" />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Periodo Prima: </label>
                    <input class="form-control" type="text" asp-for="periodo_pri" />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Salario Base: </label>
                    <input class="form-control" type="text" asp-for="salario_base" />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Estado Liquidacion: </label>
                    <input class="form-control" type="text" asp-for="Estadoliq" />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Empleado: </label>
                    <select class="form-control"
                            asp-for="PersonalId" asp-items="@ViewBag.selectListEmpleados">
                        <option value="">--Seleccione un empleado---</option>
                    </select>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Actualizar Liquidacion" />
                </div>
            </form>
        </div>
    </div>

</div>